@font-face {
  font-family: "p-m";
  src: url("/fonts/Pretendard-Medium.subset.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "p-r";
  src: url("/fonts/Pretendard-Regular.subset.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "p-s";
  src: url("/fonts/Pretendard-SemiBold.subset.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: "p-r";
  overflow-x: hidden;
  overscroll-behavior-y: none; /* 스크롤 바운스 효과 제거 */
}

body {
  font-family: "p-r";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
